@import "bootstrap.scss";

#logs {
  height: 100%;
  max-height: 100%;
  overflow: scroll;
  margin: 0 !important;
  font-size: 1rem;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}