<div class="d-flex flex-column align-items-stretch h-100 w-100">

<iframe src="/var?navbar=false"></iframe>

<iframe src="/sync?navbar=false" class="flex-grow-1"></iframe>

<iframe src="/logs?navbar=false" class="flex-grow-1"></iframe>

</div>
