<div class="w-100 h-100">
<pre id="logs" data-truncate="{{state.settings.logsTruncate}}" class="px-4 pt-4">
{{{state.logsHtml}}}
</pre>
</div>

<script type="application/javascript" src="/scripts/logs.js"></script>