<div class="p-4 overflow-auto mx-auto container row gx-4 gy-4">
    <div class="mx-auto col-12 col-md-9 col-lg-6 col-xl-5">
        {{#each state.settingsList}}
            {{> setting}}
        {{/each}}
        <hr class="mb-4 mt-5"/>
        <form action="/var/clear" method="POST" class="d-flex pb-4 pt-4 justify-content-center" data-enh-form>
            <button type="submit" class="btn btn-outline-danger d-flex gap-3"><i class="bi bi-trash"></i>Clear unused variables</button>
        </form>
        <form action="/settings/backup" method="POST" class="d-flex pb-4 pt-2 justify-content-center" data-enh-form>
            <button type="submit" class="btn btn-outline-info d-flex gap-3"><i class="bi bi-download"></i>Backup</button>
        </form>
    </div>
</div>
