<div class="p-4 w-100 h-100 overflow-auto">
    <input type="text" data-enh-filter-value="sync-records"/>
    <div data-enh-tag="sync-records" data-enh-partial="sync-records" data-enh-filter-refresh="sync-records">
        {{> sync-records }}
    </div>
    {{> create-sync-record }}
</div>