<form action="create" method="POST" data-enh-form data-enh-reload="sync-records">
    <input type="text" name="from" placeholder="From" />
    <input type="text" name="to" placeholder="To" />
    <input type="submit" value="Create" data-enh-ready data-enh-state/>
    <span class="d-none" data-enh-loading>Loading...</span>
</form>