<hr class="mb-4 mt-5"/>
<form action="/sync/create" method="POST" data-enh-form data-enh-reload="sync-records var-records" class="d-flex gap-2 pb-4 pt-4">
    <input type="text" name="from" placeholder="From" class="form-control flex-fill"/>
    <input type="text" name="to" placeholder="To" class="form-control flex-fill"/>
    <button type="submit" data-enh-ready data-enh-state class="btn btn-success d-flex gap-3"><i class="bi bi-plus-lg"></i>Create</button>
<!--    <span class="d-none" data-enh-loading>Loading...</span>-->
</form>