<nav class="nav">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li>
            <a class="nav-link" href="/settings">Settings</a>
        </li>
    </ul>
</nav>