<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>fs-utils</title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>

<div class="w-100 h-100 d-flex flex-column">
    {{#ifCond query.navbar '!==' 'false' }}
        {{> navbar}}
    {{/ifCond}}

    <div class="w-100 h-100 flex-fill {{#ifCond query.navbar '!==' 'false' }} border border-4 border-primary {{/ifCond}}">
        {{{body}}}
    </div>
</div>

<script src="/scripts/index.js" defer></script>
</body>
</html>