<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>fs-utils</title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>

    {{#ifCond query.navbar '!==' 'false' }}
        {{> navbar}}
    {{/ifCond}}

    {{{body}}}

<script src="/scripts/index.js" defer></script>
</body>
</html>